@charset "UTF-8";
/*SCSS Index*/
/*<!--========================================================== -->
                        <!--Imports start-->
<!--========================================================== -->*/
/*SCSS Proyectos*/
/*<!--========================================================== -->
                        <!--Variables start-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Variables end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Ajustes start-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Ajustes end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Proyectos start-->
<!--========================================================== -->*/
.portfolio {
  margin-bottom: 70px;
  margin-top: 50px;
  text-align: center;
  width: 80vw;
  margin-left: auto;
  margin-right: auto; }
  .portfolio .heading {
    margin-bottom: 40px;
    font-size: 43px; }
  .portfolio .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem; }
    .portfolio .box-container .box {
      height: 30rem;
      overflow: hidden;
      position: relative;
      border-radius: 5px; }
      .portfolio .box-container .box:hover .content {
        transform: translateY(0%); }
      .portfolio .box-container .box .img-proyectos {
        height: 80%;
        width: 100%;
        border: 3px solid #121524;
        border-radius: 5px; }
      .portfolio .box-container .box .content {
        position: absolute;
        top: 0;
        left: 0;
        height: 80%;
        width: 100%;
        background: #1a1a1a;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        transform: translateY(-100%);
        transition: .2s linear;
        border: 3px solid #121524;
        border-radius: 5px; }
        .portfolio .box-container .box .content h3 {
          font-size: 30px;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: normal; }
        .portfolio .box-container .box .content p {
          padding: 1rem 0;
          font-size: 20px;
          line-height: 2;
          color: #aaa; }
        .portfolio .box-container .box .content a {
          font-size: 12px;
          color: #EFBC75; }
          .portfolio .box-container .box .content a:hover {
            background-color: #121524; }

.boton-vermas {
  padding: 10px 20px;
  background-color: #EFBC75;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(230, 208, 117, 0.69);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-weight: bold;
  font-size: 12px; }

.boton-vermas:hover {
  background-color: #121524;
  box-shadow: none;
  color: #fff;
  font-size: 12px; }

/*<!--========================================================== -->
                        <!--Proyectos end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Mediaqueries start-->
<!--========================================================== -->*/
@media (max-width: 1020px) {
  .body-proyectos .portfolio {
    margin-bottom: 70px;
    margin-top: 50px;
    text-align: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 2; }
    .body-proyectos .portfolio .heading {
      font-size: 33px; }
    .body-proyectos .portfolio .box-container {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .body-proyectos .portfolio .box-container .box h3 {
        font-size: 23px; }
      .body-proyectos .portfolio .box-container .box p {
        font-size: 15px; }
      .body-proyectos .portfolio .box-container .box a {
        font-size: 12px; } }

@media (max-width: 600px) {
  .portfolio .box-container .img-proyectos {
    height: 90%;
    width: 70%; }
  .portfolio .box-container .box {
    height: 90%;
    width: 70%; }
    .portfolio .box-container .box .content {
      height: 100%;
      width: 100%; }
      .portfolio .box-container .box .content h3 {
        font-size: 15px; }
      .portfolio .box-container .box .content p {
        font-size: 11px;
        padding: .2rem 0; }
      .portfolio .box-container .box .content a {
        font-size: 9px; } }

/*<!--========================================================== -->
                        <!--Mediaqueries end-->
<!--========================================================== -->*/
/*SCSS Habilidades*/
/*<!--========================================================== -->
                        <!--Variables start-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Variables end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Habilidades start-->
<!--========================================================== -->*/
.skills .title-habilidades {
  margin-top: 40px;
  font-size: 43px; }

.skills .box-container {
  margin-bottom: 70px;
  margin-top: 50px;
  text-align: center;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem; }
  .skills .box-container .box {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border-radius: .5rem;
    background: #121524; }
    .skills .box-container .box:hover {
      background: #1a1a1a; }
      .skills .box-container .box:hover h3 {
        color: #ffffff;
        font-size: 30px; }
    .skills .box-container .box img {
      height: 5rem;
      margin-bottom: 1rem; }
    .skills .box-container .box h3 {
      color: #ffffff;
      font-size: 30px;
      font-weight: normal; }

/*<!--========================================================== -->
                        <!--Habilidades end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Mediaqueries start-->
<!--========================================================== -->*/
@media (max-width: 1020px) {
  .skills .title-habilidades {
    font-size: 33px; }
  .skills .box-container .box h3 {
    font-size: 20px; }
  .skills .box-container .box:hover h3 {
    font-size: 20px; } }

@media (max-width: 600px) {
  .skills .box-container {
    display: flex;
    flex-direction: column; } }

/*<!--========================================================== -->
                        <!--Mediaqueries end-->
<!--========================================================== -->*/
/*SCSS Quien soy*/
/*<!--========================================================== -->
                        <!--Variables start-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Variables end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Ajustes start-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Ajustes end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Quien soy start-->
<!--========================================================== -->*/
.main-quiensoy {
  margin: 0 auto;
  width: 60vw;
  display: flex; }
  .main-quiensoy .title-quiensoy {
    font-size: 43px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 50px; }
  .main-quiensoy .txt-quiensoy {
    text-align: center;
    margin: 5px;
    font-size: 26px; }
  .main-quiensoy .download-cv {
    font-weight: bold;
    font-size: 12px; }

/*<!--========================================================== -->
                        <!--Quien soy end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Educacion start-->
<!--========================================================== -->*/
.title-educacion {
  font-size: 43px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px; }

.education {
  margin: 0 auto;
  width: 80vw;
  height: 50vh;
  margin-bottom: 100px; }
  .education .box-container {
    display: flex;
    flex-wrap: wrap; }
    .education .box-container .box {
      flex: 1 1 40rem;
      margin-left: 2rem;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 3.5rem;
      padding-bottom: 3rem;
      position: relative; }
      .education .box-container .box i {
        height: 3.5rem;
        width: 3.5rem;
        line-height: 3.5rem;
        font-size: 1.7rem;
        border-radius: 50%;
        background: #0E2C40;
        color: #ffffff;
        text-align: center;
        position: absolute;
        top: -1rem;
        left: 3.4rem; }
      .education .box-container .box span {
        font-size: .9rem;
        color: #ffffff;
        border-radius: 5rem;
        padding: .5rem 1.5rem;
        background: #1a1a1a;
        position: absolute;
        top: -1rem;
        left: 9rem;
        margin-top: 12px; }
      .education .box-container .box h3 {
        font-size: 30px;
        padding: 1rem 0;
        color: #000000;
        padding-top: 3rem;
        font-weight: normal; }
      .education .box-container .box p {
        font-size: 26px;
        color: #aaa;
        line-height: 2; }
      .education .box-container .box .educacion-secundario {
        margin-bottom: 40px; }

/*<!--========================================================== -->
                        <!--Educacion end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Mediaqueries start-->
<!--========================================================== -->*/
@media (max-width: 1020px) {
  .info-content-quiensoy .download-cv {
    font-weight: bold;
    font-size: 12px; }
  .info-content-quiensoy .title-quiensoy {
    font-size: 33px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 50px; }
  .info-content-quiensoy .txt-quiensoy {
    text-align: center;
    margin: 5px;
    font-size: 20px; }
  .education .title-educacion {
    font-size: 33px; }
  .education .box-container .box i {
    font-size: 15px; }
  .education .box-container .box h3 {
    font-size: 23px; }
  .education .box-container .box p {
    font-size: 20px; } }

@media (max-width: 600px) {
  .info-content-quiensoy .title-quiensoy {
    font-size: 33px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 50px; }
  .info-content-quiensoy .txt-quiensoy {
    text-align: center;
    margin: 5px;
    font-size: 15px; }
  .title-educacion {
    font-size: 33px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px; }
  .education {
    margin-left: 0;
    margin-right: 0; }
    .education .box-container {
      margin-left: auto;
      margin-right: auto; }
      .education .box-container .box {
        text-align: center;
        align-items: center; }
        .education .box-container .box span {
          position: static;
          justify-content: center; }
        .education .box-container .box i {
          font-size: 15px;
          display: none; }
        .education .box-container .box h3 {
          font-size: 23px; }
        .education .box-container .box p {
          font-size: 15px; } }

/*<!--========================================================== -->
                        <!--Mediaqueries end-->
<!--========================================================== -->*/
/*SCSS Contacto*/
/*<!--========================================================== -->
                        <!--Variables start-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Variables end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Contacto start-->
<!--========================================================== -->*/
.contact {
  margin-bottom: 70px;
  margin-top: 50px;
  text-align: center;
  width: 70vw;
  margin-left: auto;
  margin-right: auto; }
  .contact .heading {
    font-size: 43px; }
  .contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem; }
    .contact .row .info-container {
      width: 80vw; }
      .contact .row .info-container h1 {
        font-size: 23px;
        padding-bottom: 1rem;
        color: #EFBC75; }
      .contact .row .info-container p {
        font-size: 20px;
        line-height: 2;
        color: #aaa; }
      .contact .row .info-container .share {
        margin-left: 10px; }
        .contact .row .info-container .share a {
          font-size: 2rem;
          height: 4.5rem;
          width: 4.5rem;
          line-height: 4.5rem;
          border-radius: 50%;
          background: #121524;
          color: #ffffff;
          margin: 10px; }
    .contact .row form {
      flex: 1 1 42rem; }
      .contact .row form .inputBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .contact .row form .inputBox input {
          width: 49%; }
      .contact .row form .inputBox input,
      .contact .row form textarea {
        border-radius: 5rem;
        padding: 1.2rem 1.8rem;
        font-size: 20px;
        color: #000000;
        text-transform: none;
        margin: .7rem 0;
        background: #1a1a1a; }
      .contact .row form textarea {
        width: 100%;
        border-radius: 1rem;
        resize: none;
        height: 25rem; }
      .contact .row form .btn {
        padding: 1rem 3rem;
        cursor: pointer; }
        .contact .row form .btn:hover {
          background: #000000;
          color: #0d0d0d; }

/*<!--========================================================== -->
                        <!--Contacto end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Mediaqueries start-->
<!--========================================================== -->*/
@media (max-width: 1020px) {
  .contact .heading {
    font-size: 33px; } }

@media (max-width: 600px) {
  .contact .row form .inputBox input {
    font-size: 12px; }
  .contact .row form textarea {
    font-size: 12px; } }

/*<!--========================================================== -->
                        <!--Mediaqueries end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Imports end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Variables start-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Variables end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Ajustes start-->
<!--========================================================== -->*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

/*<!--========================================================== -->
                        <!--Ajustes end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Menu start-->
<!--========================================================== -->*/
nav {
  background-color: #0E2C40;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid #EFBC75; }

header h1 {
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: .2rem; }

span {
  color: #EFBC75; }

nav ul {
  display: flex; }

nav ul li {
  border-right: solid 0.1rem rgba(61, 61, 61, 0.41); }

nav ul li:last-child {
  border-right: none; }

nav ul li a {
  color: #ffffff;
  font-size: 15px;
  padding: .8rem 1rem; }

nav ul li a:hover {
  background-color: #121524;
  transition: all .3s; }

.drawer {
  color: #ffffff;
  float: left;
  cursor: pointer;
  display: none;
  margin-left: 1rem;
  height: 20px;
  position: relative;
  left: 92%;
  border-radius: .1rem; }

#ckbox {
  display: none; }

/*<!--========================================================== -->
                        <!--Menu end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Main start-->
<!--========================================================== -->*/
.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: flex;
  /*flex-direction: row;*/
  align-items: center; }

h1 {
  font-size: 43px;
  text-align: center;
  margin-bottom: 8px; }

.texto-main {
  text-align: center;
  font-size: 26px; }

span {
  color: #EFBC75; }

.Diseñador-Digital {
  color: #EFBC75; }

.Diseñador-UX-UI {
  font-weight: bold;
  color: #000000; }

.download-cv {
  padding: 10px 20px;
  background-color: #EFBC75;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(230, 208, 117, 0.69);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-weight: bold;
  font-size: 12px; }

.download-cv:hover {
  background-color: #121524;
  box-shadow: none;
  color: #fff; }

.imgperfil {
  border-color: #EFBC75;
  border: 7px solid #efbc75;
  height: 520px;
  margin-left: 12px; }

.Diseñador-Digital {
  font-weight: bold;
  color: #000000; }

/*<!--========================================================== -->
                        <!--Main end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Footer start-->
<!--========================================================== -->*/
footer {
  background-color: #0E2C40;
  color: #C3C3C3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  bottom: 0;
  position: fixed;
  border-top: 3px solid #EFBC75; }
  footer p {
    font-size: 12px; }

/*<!--========================================================== -->
                        <!--Footer end-->
<!--========================================================== -->*/
/*<!--========================================================== -->
                        <!--Mediaqueries start-->
<!--========================================================== -->*/
@media (max-width: 1020px) {
  nav {
    justify-content: flex-start; }
  .drawer {
    display: block; }
  h1 {
    margin-left: 1rem;
    font-size: 33px; }
  .texto-main {
    text-align: center;
    font-size: 23px; }
  .download-cv {
    font-size: 12px; }
  ul {
    width: 100%;
    height: 40.8vh;
    background-color: #35495e;
    top: 10vh;
    left: -100%;
    text-align: center;
    transition: width;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    position: absolute;
    z-index: 1; }
  nav ul li {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    border-bottom: solid 0.1rem rgba(201, 196, 196, 0.4); }
  #ckbox:checked ~ .menu-box {
    left: 0; }
  .main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .info-content {
    grid-columne: 1/2;
    order: 2;
    margin-top: 20px; }
  .main img {
    display: grid;
    height: 350px;
    order: 1; } }

@media (max-width: 600px) {
  h1 {
    margin-left: .5rem;
    font-size: 23px; }
  .texto-main {
    text-align: center;
    font-size: 15px; }
  .download-cv {
    font-size: 12px; }
  ul {
    width: 100%;
    height: 32.2%;
    background-color: #35495e;
    top: 10vh;
    left: -100%;
    text-align: center;
    transition: width;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    position: absolute;
    z-index: 1; }
  nav ul li {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    border-bottom: solid 0.1rem rgba(201, 196, 196, 0.4); }
  .drawer {
    left: 88%; }
  #ckbox:checked ~ .menu-box {
    left: 0; }
  .main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .info-content {
    grid-columne: 1/2;
    order: 2;
    margin-top: 20px; }
  .main img {
    display: grid;
    height: 250px;
    order: 1; } }

/*<!--========================================================== -->
                        <!--Mediaqueries end-->
<!--========================================================== -->*/
