body {
  overflow-x: hidden;
  padding: 10px;
  margin: 10px; }

.boton, .boton-acept, .boton-cancel {
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: black;
  background-color: white;
  bordre: 1px solid black;
  bordre-radius: 20px; }

.boton-acept {
  color: green;
  background-color: white;
  bordre: 1px solid green; }

.boton-cancel {
  color: red;
  background-color: white;
  bordre: 1px solid red; }

div section .contactofooter {
  height: 90px;
  width: 100px; }

@media screen and (min-width: 600px) and (max-width: 990px) {
  div section .contactofooter {
    width: 150px;
    height: 130px; }
  div div section .imgperfil {
    width: 160px;
    height: 160px;
    display: block;
    margin: auto; }
  .divfinal {
    background-color: #000000;
    margin-top: 80px;
    margin-bottom: -1vw;
    height: 6vw;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%; } }

@media screen and (min-width: 990px) and (max-width: 1080px) {
  div section .contactofooter {
    width: 150px;
    height: 130px; }
  body div div div nav div .flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }

div h1 .margen {
  margin: 15px; }

body div div div nav .logonav {
  width: 150px;
  height: 150px; }

div .divdiv {
  padding: 0px;
  margin: 0px; }

nav div a .img-fluid {
  width: 100px;
  height: 100px; }

.divfinal {
  background-color: #000000;
  margin-top: 80px;
  margin-bottom: 0px;
  height: 8vw;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%; }
  .divfinal div section .titlocon {
    color: white;
    margin-top: 30px; }

.divpresentacion {
  margin-top: 130px;
  margin-bottom: 60px; }

.divproyectos {
  margin-top: 130px; }

.divhablidiades {
  margin-top: 130px; }

.sectionimput {
  margin-top: 130px; }

.diveducacion {
  margin-top: 130px; }

.textopresnetacion {
  margin-top: 40px; }

.imgperfil {
  margin-top: 40px; }

.tituloproyec {
  margin-bottom: 30px; }

.carrusel img {
  width: 70vw;
  height: 100vw; }

.contactoinput {
  margin-top: 400px; }

div section h2 .edu1 {
  margin-top: 100px; }

div section h2 .edu2 {
  margin-top: 40px; }

div section h2 .edu3 {
  margin-top: 40px; }
