//botones 

.boton { 
	width:100px;
	height:40px;
	font-size:20px;
	color:black;
	background-color:white;
	bordre:1px solid black;
	bordre-radius:20px;
}

.boton-acept {
	@extend .boton;
	color:green;
	background-color:white;
	bordre:1px solid green;
}

.boton-cancel {
	@extend .boton;
	color:red;
	background-color:white;
	bordre:1px solid red;
}



//mixin

@mixin sizes($width,$height) {
    height: $height;
    width: $width;
}

div { 
        section {  
                .contactofooter {
                	@include sizes (100px,90px);
                }
        }

    }