/*SCSS Proyectos*/

/*<!--========================================================== -->
                        <!--Variables start-->
<!--========================================================== -->*/

    $primary:#0E2C40;
    $secundary:#2e4469;
    $background:#35495e;
    $black-text:rgb(61, 61, 61);
    $white-text:#ffffff;
    $button-hover:#38755a;
    $color3:#EFBC75;
    $color4:#121524;
    $crimson : crimson;
	$black:#0d0d0d;
	$light-bg:#1a1a1a;
	$white:#000000;
	$light-color:#aaa;
	$box-shadow:0 .5rem 1rem rgba(0,0,0,.7);

/*<!--========================================================== -->
                        <!--Variables end-->
<!--========================================================== -->*/




/*<!--========================================================== -->
                        <!--Ajustes start-->
<!--========================================================== -->*/

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap:1.5rem;
}

/*<!--========================================================== -->
                        <!--Ajustes end-->
<!--========================================================== -->*/



/*<!--========================================================== -->
                        <!--Proyectos start-->
<!--========================================================== -->*/
	
	
    .portfolio{

	margin-bottom: 70px;
	margin-top: 50px;
	text-align: center;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	


	.heading{
	margin-bottom: 40px;
	
	}

	.img-proyectos{
	height: 350px;
	border: 3px solid $color4;
	border-radius: 5px;
	}
	

  .box-container{
    @include grid(31rem);
    margin-bottom: 2rem;

    .box{
      height: 30rem;
      overflow:hidden;
      position: relative;

      &:hover{
        .content{
          transform: translateY(0%);
        }
      }

      img{
        height: 100%;
        width:100%;
        object-fit: cover;
      }

      .content{
        position: absolute;
        top:0; left:0;
        height: 100%;
        width:100%;
        background: $light-bg;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding:2rem;
        transform: translateY(-100%);
        transition: .2s linear;

        h3{
          font-size: 24px;
          color:$white-text;
          text-transform: uppercase;
          font-weight: normal;
        }

        p{
          padding:1rem 0;
          font-size: 19.2px;
          line-height: 2;
          color:$light-color;
        }

        a{
          font-size: 14.4px;
          color:$crimson;

          &:hover{
            color:$white;
          }
        }
      }
    }
  }
}





.boton-vermas{
  padding: 10px 20px;
  background-color: $color3;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px  rgba(230, 208, 117, .69);
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-weight: bold;}



.boton-vermas:hover {
 background-color: $color4;
 box-shadow: none;
 color: #fff;}


/*<!--========================================================== -->
                        <!--Proyectos end-->
<!--========================================================== -->*/



/*<!--========================================================== -->
                        <!--Mediaqueries start-->
<!--========================================================== -->*/

@media (max-width:1020px) {

    .body-proyectos{
	
	ul{
        
        width: 100%;
        height: 40.8vh;
        background-color: $background;
        top: 10vh;
        left: -100%;
        text-align: center;
        transition: width ;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        position: absolute;
        z-index: 1;

    }

    .portfolio{

	margin-bottom: 70px;
	margin-top: 50px;
	text-align: center;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;}
}
}



/*<!--========================================================== -->
                        <!--Mediaqueries end-->
<!--========================================================== -->*/




