/*SCSS Index*/



/*<!--========================================================== -->
                        <!--Imports start-->
<!--========================================================== -->*/

@import "proyectos";
@import "habilidades";
@import "quiensoy";
@import "contacto";

/*<!--========================================================== -->
                        <!--Imports end-->
<!--========================================================== -->*/



/*<!--========================================================== -->
                        <!--Variables start-->
<!--========================================================== -->*/

    $primary:#0E2C40;
    $secundary:#2e4469;
    $background:#35495e;
    $black-text:rgb(61, 61, 61);
    $white-text:#ffffff;
    $button-hover:#38755a;
    $color3:#EFBC75;
    $color4:#121524;

/*<!--========================================================== -->
                        <!--Variables end-->
<!--========================================================== -->*/



/*<!--========================================================== -->
                        <!--Ajustes end-->
<!--========================================================== -->*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
}

/*<!--========================================================== -->
                        <!--Ajustes end-->
<!--========================================================== -->*/



/*<!--========================================================== -->
                        <!--Menu start-->
<!--========================================================== -->*/

nav{
    background-color: $primary;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #EFBC75;
}

header h1{
    color: $white-text;
    font-size: 2rem;
    letter-spacing: .2rem;
}

span{
  color: $color3;
}

nav ul{
    display: flex;
}

nav ul li{
    border-right: solid .1rem rgba(61, 61, 61, 0.41);
}

nav ul li:last-child{
    border-right: none;
}

nav ul li a {
    color: $white-text;
    font-size: 15px;
    padding: .8rem 1rem;
}

nav ul li a:hover{
    background-color: $color4;
    transition: all .3s;
}

.drawer{
    color: $white-text;
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    height: 20px;
    position: relative;
    left: 92%;
    border-radius: .1rem;
}

#ckbox{
    display: none;
}

/*<!--========================================================== -->
                        <!--Menu end-->
<!--========================================================== -->*/



/*<!--========================================================== -->
                        <!--Main start-->
<!--========================================================== -->*/

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
}

h1{ 
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 8px;}

.texto-main{
  text-align: center;
  font-size: 1.2rem;
}

span{
  color: $color3;
}

.Diseñador-Digital{
  color: $color3;
}

.Diseñador-UX-UI{
  font-weight: bold;
  color: #000000;
}

.download-cv{
  padding: 10px 20px;
  background-color: $color3;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px  rgba(230, 208, 117, .69);
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-weight: bold;}



.download-cv:hover {
 background-color: $color4;
 box-shadow: none;
 color: #fff;}

.imgperfil {
  border-color: $color3;
  border: 7px solid rgb(239, 188, 117);
  height: 520px;
  margin-left: 12px;}

.Diseñador-Digital{
  font-weight: bold;
  color: #000000;
  }

/*<!--========================================================== -->
                        <!--Main end-->
<!--========================================================== -->*/



/*<!--========================================================== -->
                        <!--Footer start-->
<!--========================================================== -->*/

footer{
    background-color: $primary;
    color: #C3C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
    bottom: 0;
    position: fixed;
    border-top: 3px solid #EFBC75;

}

/*<!--========================================================== -->
                        <!--Footer end-->
<!--========================================================== -->*/



/*<!--========================================================== -->
                        <!--Mediaqueries start-->
<!--========================================================== -->*/

@media (max-width:1020px) {

    nav{
        justify-content: flex-start;
    }

    .drawer{
        display: block;
    }

    nav h1{
        margin-left: 1rem;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 40.8vh;
        background-color: $background;
        top: 10vh;
        left: -100%;
        text-align: center;
        transition: width  1.5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        position: absolute;

    }



    nav ul li{
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        border-bottom: solid .1rem rgba(201, 196, 196, 0.4) ;
    }

    #ckbox:checked ~ .menu-box{
        left: 0;
    }

     .main{
        margin: 0 auto;
        width: 80vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    

    .info-content{
    grid-columne: 1/2;
    order: 2;
    margin-top: 20px;
    }
}

.main img{
    display: grid;
    height: 350px; 
    order: 1;
    }

/*<!--========================================================== -->
                        <!--Mediaqueries end-->
<!--========================================================== -->*/
