//variables 

$screensize1: 600px;
$screensize2: 990px;
$screensize3: 1080px;

@import "map";
@import "extend";

@media screen and (min-width:$screensize1) and (max-width:$screensize2) {
       
    div { 
        section {  
                .contactofooter {width: 150px;
                height: 130px;}
        }

    }
      
    div {
        div{
            section {  
                    .imgperfil { width: 160px;
                    height: 160px;
                    display:block;
                    margin:auto;}
                }
            } 
        } 
        

    .divfinal{ 
    background-color: #000000;
    margin-top: 80px;
    margin-bottom: -1vw;
    height: 6vw;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    }
}
    


    @media screen and (min-width:$screensize2) and (max-width:$screensize3){
    div { 
        section {  
                .contactofooter {width: 150px;
                height: 130px;}
        }

    }
    
    body {
        div {
            div { 
                div { 
                    nav { 
                        div{
                            .flex{ 
                                display: flex;  flex-direction: row; 
                                justify-content: flex-end;
                            }
                        }
                        }

                    }
                    
                }
                
            }  
        }


   
}
      

div {
    h1 { 
        .margen {margin: 15px;

        }
    }
}



body {
    div {
        div { 
            div { 
                nav { 
                    .logonav { width: 150px;
                    height: 150px;

                    }

                }
                
            }
            
        }  
    }
}



div{ 
    .divdiv {padding: 0px;
  margin: 0px;

    }
}



nav{   
    div{
        a{
            .img-fluid{
                width: 100px;
                height: 100px;
            }
        }
    }
}

.divfinal{ 
    background-color: #000000;
    margin-top: 80px;
    margin-bottom: 0px;
    height: 8vw;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;

    div{
        section {
        .titlocon {
            color: white;
            margin-top: 30px;
        }
            
        }
        .marcafinal{  
            color: grey;
            margin-bottom: 10px;
            margin-top: 30px;
            display: flex;
            justify-content: right;
            background-color: #000000;
            
        }
         
    }
}

.divpresentacion{ 
margin-top: 170px;
margin-bottom: 60px;
}

.textopresnetacion {
    margin-top: 40px;
}

.imgperfil {
    margin-top: 40px;
}


.tituloproyec{ 
    margin-bottom: 30px;
}

.carrusel img{ 
    width: 70vw;
    height: 100vw;
}

footer { 
background-color: #000000;
}