<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML,UX, UI, DESIGNE, DISEÑO, DISEÑADOR, PORTAFOLIO, EXPERIENCIA DE USUARIO, INTERFAZ DE USUARIO, USER INTERFAZ, USER EXPERIENCE">
    <meta name="description" content="Portafolio Gian Franco Barone Diseño UX UI">
    <title>Barone Gian Franco | Portafolio Diseño UX UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Estilo -->
    <link rel="stylesheet" href="../css/estilo.css">


</head>
<body class="body-proyectos">


<!--========================================================== -->
                        <!--Menú-->
<!--========================================================== -->

    <header>
        <nav>
            <input type="checkbox" id="ckbox">
            <label for="ckbox" class="drawer">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </label>
            <a href="../index.html"><h1>GF<span>B</span></h1></a>

            <ul class="menu-box">
                <li><a href="../index.html" class=""> Inicio</a></li>
                <li><a href="quiensoy.html" class=""> Sobre mi</a></li>
                <li><a href="habilidades.html" class=""> Habilidades</a></li>
                <li><a href="proyectos.html" class=""> Proyectos</a></li>
                <li><a href="contacto.html" class=""> Contacto</a></li>
            </ul>
        </nav>
    </header>

<!--========================================================== -->
                        <!--Menú-->
<!--========================================================== -->



<!--========================================================== -->
                        <!--Proyectos start-->
<!--========================================================== -->

<section class="portfolio">

    <h1 class="heading"> <span>Mis</span> proyectos </h1>

    <div class="box-container">

        <div class="box">
            <img class="img-proyectos" src="../img/p1.png" alt="">
            <div class="content">
                <h3>Rediseño UX / UI Spotify</h3>
                <p>Rediseño de experiencia e interfaz de usuario de la app Mobile de “Spotify”.</p>
                <a href="https://www.behance.net/gallery/134879633/Rediseno-UX-UI-Spotify">Ver mas</a>
            </div>
        </div>

        <div class="box">
            <img class="img-proyectos" src="../img/p2.png" alt="">
            <div class="content">
                <h3>Burger Stock - Tesis IES Santa Fe</h3>
                <p>Tesis final de la carrear de “Diseño Digital”.</p>
                <a href="https://www.behance.net/gallery/133682471/Tesis-Diseno-Digital-IES-Santa-Fe">Ver mas</a>
            </div>
        </div>
       
        <div class="box">
            <img class="img-proyectos" src="../img/p3.png" alt="">
            <div class="content">
                <h3>Burger Stock - UX UI Design</h3>
                <p>Prototipo de APP Mobile del proyecto “Burger stock” bajo un diseño UX UI.  </p>
                <a href="https://www.behance.net/gallery/128173079/Burger-Stock-UX-UI-Design">Ver mas</a>
            </div>
        </div>
  
    </div>

    <a href="https://www.behance.net/gianfranco6">
     <button class="boton-vermas">Ver mas</button>
    </a>
    
</section>

<!--========================================================== -->
                        <!--Proyectos end-->
<!--========================================================== -->



<!--========================================================== -->
                        <!--Pie de pagina-->
<!--========================================================== -->

    <footer>
        <p>Gian Franco Barone | 2022</p>
    </footer>

<!--========================================================== -->
                        <!--Pie de pagina-->
<!--========================================================== -->



</body>

</html>


