<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML,UX, UI, DESIGNE, DISEÑO, DISEÑADOR, PORTAFOLIO, EXPERIENCIA DE USUARIO, INTERFAZ DE USUARIO, USER INTERFAZ, USER EXPERIENCE">
    <meta name="description" content="Portafolio Gian Franco Barone Diseño UX UI">
    <title>Barone Gian Franco | Portafolio Diseño UX UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/43b943f073.js" crossorigin="anonymous"></script>

    <!-- Estilo -->
    <link rel="stylesheet" href="../css/estilo.css">


</head>
<body class="body-quiensoy">



<!--========================================================== -->
                        <!--Menú start-->
<!--========================================================== -->

    <header>
        <nav>
            <input type="checkbox" id="ckbox">
            <label for="ckbox" class="drawer">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </label>
            <a href="../index.html"><h1>GF<span>B</span></h1></a>

            <ul class="menu-box">
                <li><a href="../index.html" class=""> Inicio</a></li>
                <li><a href="quiensoy.html" class=""> Sobre mi</a></li>
                <li><a href="habilidades.html" class=""> Habilidades</a></li>
                <li><a href="proyectos.html" class=""> Proyectos</a></li>
                <li><a href="contacto.html" class=""> Contacto</a></li>
            </ul>
        </nav>
    </header>

<!--========================================================== -->
                        <!--Menú end-->
<!--========================================================== -->



<!--========================================================== -->
                        <!--Quien soy start-->
<!--========================================================== -->

<main class="main-quiensoy ">
    <div class="info-content-quiensoy ">
    <h1 class="title-quiensoy">Quien <span>soy</span></h1>
    <p class="txt-quiensoy">Buenas, mi nombre es <span class="Diseñador-Digital">Gian franco </span>y soy <span class="Diseñador-Digital">Diseñador Digital</span> especializado en <span class="Diseñador-Digital">"Experiencia e Interfaz de usuario"</span>. </p>
    <p class="txt-quiensoy">Mis hobbies son la Tecnología, Diseño, Música, Fotografía y el Cine.</p>
    <p class="txt-quiensoy">Mi orientación en el Diseño esta enfocada en la experiencia del usuario, ya que una de las cosas que más me gustan es la resolución de problemas o conflictos por medio de una estrategia especifica creada para cada situación. 
    Mi mayor meta es poder trabajar de lo que me gusta, enfrentando retos y resolviendo problemas mediante mis conocimientos y experiencias, ya sea de forma individual o complementándome de manera grupal. </p>
    <p class="txt-quiensoy">Actualmente estoy en la búsqueda de nuevas experiencias con el objetivo de mejorar mis habilidades duras como Diseñador UX UI.</p>
    <a download= "Curriculum Español Ingles - Barone Gian Franco" href="../Documentos/Curriculum Español Ingles - Barone Gian Franco.pdf">
     <button class="download-cv ">Descarga mi CV</button>
    </a>
    </div>
</main>

<!--========================================================== -->
                        <!--Quien soy end-->
<!--========================================================== -->



<!--========================================================== -->
                        <!--Educacion start-->
<!--========================================================== -->

<h1 class="title-educacion">Educacion</h1>

<section class="education">

    <div class="box-container">

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2021 - 2022</span>
            <h3>Desarrollador UX UI</h3>
            <p>Carrera de Desarrollo UX (experiencia de usuario) UI (interfaz de usuario) en el instituto de estudios online "CoderHouse". </p>
        </div>

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2019 - 2021</span>
            <h3>Técnico Superior en Diseño Digital</h3>
            <p>Carrera de Diseño Digital en el "Instituto de estudios superiores" de Santa Fe Capital.
            La misma brinda conocimientos sobre "Diseño grafico", "Diseño digital", "Producción audiovisual", "Marketing y publicidad" y "Comunicación", entre otras.</p>
        </div>

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2013 - 2017</span>
            <h3>Educación Secundaria Obligatoria (ESO)</h3>
            <p class="educacion-secundario">Educación Secundaria Obligatoria (ESO), Humanidades/Estudios humanísticos en La Salle Jobson.</p>
        </div>

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2006 - 2013</span>
            <h3>Educación Primaria Obligatoria (EpO)</h3>
            <p class="educacion-secundario">Educación Primaria Obligatoria (EO) en La Salle Jobson.</p>
        </div>
    </div>

</section>

<!--========================================================== -->
                        <!--Educacion end-->
<!--========================================================== -->



<!--========================================================== -->
                        <!--Pie de pagina start-->
<!--========================================================== -->

    <footer>
        <p>Gian Franco Barone | 2022</p>
    </footer>

<!--========================================================== -->
                        <!--Pie de pagina end-->
<!--========================================================== -->



</body>

</html>


